.list-container {
    margin: 5vmin;
    display: grid;
}

.list-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.10));
    /* 重点：使元素背景模糊化 */
    backdrop-filter: blur(11px);
    box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
    padding: 0;
    border-radius: 1rem;
}

.list-nav span {
    display: inline-block;
}

.list-nav>span {
    margin: 0.3rem 2rem;
}

.list-nav>span:first-child {
    margin: 0.3rem 0.5rem 0.3rem 5rem;
}

.select-label {
    margin-right: 8px;
    /* 添加右边距，使标签和下拉菜单之间有间隔 */
}

ul.law-list {
    list-style-position: inside;
    max-width: 100%;
    /* background: white; */
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.65),
            rgba(255, 255, 255, 0.45),
            rgba(255, 255, 255, 0.25));
    /* 重点：使元素背景模糊化 */
    backdrop-filter: blur(11px);
    box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
    padding: 0;
    margin: 1rem 0 0 0;
    border-radius: 1rem;
}

ul.law-list li {
    padding: 0 0 0 1rem;
    min-height: 2.5rem;
}

ul.law-list li:not(:last-child) {
    border-bottom: 1px solid lightblue;
}

ul.law-list li:first-child {
    margin-top: 1rem;
}

ul.law-list li:last-child {
    margin-bottom: 0.5rem;
}

ul.law-list>li::marker {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.4 16.2c-2.3-2.3-5.4-3.5-8.4-4.5-.5-.2-1.1-.3-1.6-.5-1.6-1.6-3.7-2.8-6.2-3.2-1-.2-1.9.1-2.5.6-.9-.3-1.8-.6-2.7-.8-3.2-1-6.4-1.8-9.5-.1-1 .5-1.9 1.2-2.7 2-6.4 1.4-11.7 5-12.4 12.7C0 27 1.9 31.5 4.9 34.9c.1.6.2 1.1.4 1.7 1 3.2 3.3 5.7 6.7 6.5 2.7.6 5.4-.2 7.9-1.2 3.3.4 6.7.3 9.9 0 6.5-.7 13.3-2.8 17.1-8.5 3.6-5.2 4-12.6-.5-17.2zm-17.3.9c2.1.4 4 1.7 4.7 3.8 0 .5-.1 1.1-.2 1.6-.3 1.4-.8 2.6-1.6 3.7-.7.2-1.5.1-2.3-.4-.8-.4-1.6-1-2.2-1.6-.4-.4-1.2-1.7-1.6-1.9 3.4 1.3 5.1-3 3.2-5.2zm-11.6 9.7c.2-1.9 1.1-3.9 2.3-5.5-.4 2.1.3 4.2 1.7 6 1.3 1.7 3.1 3.2 5 4.2-.2.1-.4.2-.6.4-.1 0-.1.1-.2.1-3.9.2-8.7-.8-8.2-5.2zm-6.4 3.1c.1.3.1.7.2 1 .2.6.4 1.2.7 1.8-.4-.2-.7-.5-1-.7.1-.8.1-1.4.1-2.1zm31.2-1.3c-.9 1.7-2.1 3.1-3.7 4.1 2-2.1 3.4-4.7 4-7.6.2-.7.3-1.4.3-2.1.6 1.5.5 3.3-.6 5.6z'/%3E%3C/svg%3E") ' ';
}

ul.law-list>li:nth-child(3n)::marker {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.5 12.5c-.4-1.1-1.3-1.8-2.2-2-4.2-4-11.6-4.3-17.1-4.1-6.9.3-13.9 2.1-19.4 6.5C2 17.5-2.4 25.7 2.5 32.6c2.2 3.2 5.5 4.9 9 5.5 3.3 1.7 6.7 3.3 10.2 4.4 7.8 2.3 17 1.6 23.2-4.3 7.3-7 4.8-17.3 1.6-25.7zm-20.2 2.7c.6 0 1.3 0 1.8.2 1.1.4 1.7 1.3 2 2.3-1-1.2-2.4-2.1-3.8-2.5zm-1.4 6.6c.9.9 1.3 2.2-.2 2.3-2 .2-1.1-1.9.2-2.3zm-11.8 9.8c-.6-.3-2.9-1.1-3.2-1.8-.2-.5 1.4-3.1 2.1-4.2.3.5.7 1 1.2 1.4 0 .3.1.6.2.8.5 1.9 1.5 3.1 2.9 4h-.2c-.8.1-1.6.1-2.5-.1-.2 0-.3 0-.5-.1zM24 36.4c1.6-.7 3-1.5 4.3-2.5.8.2 1.7.3 2.5.5 2.5.4 5.2.9 7.7.6-.9.6-2 1.1-3 1.4-3.9 1.3-7.7 1-11.5 0z'/%3E%3C/svg%3E") ' ';
}

ul.law-list>li:nth-child(3n - 1)::marker {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M48.3 23.7c-1-9.9-9.9-15.6-18.8-17.8-8.2-2.1-18.8-2.6-24.6 4.8C.6 16.2 1 23.6 4.3 29.3c-.5 1-.8 2-1 3-.6 4 2 7.6 5.1 10 5.9 4.4 14 4.2 19.6-.4 1.5 0 2.9-.2 4.4-.5 1.8 0 3.5 0 5.3-.1 2.3-.1 3.5-1.9 3.5-3.7 4.5-3.3 7.7-8.2 7.1-13.9zM9.1 17.8c1.1-4.1 4.9-5.8 8.8-6.1.9-.1 1.9-.1 2.9-.1-3.2 1.6-6.3 4.6-8 7.4-.1.1-.1.2-.2.3-1.1.9-2.1 1.9-3 2.9-.2.2-.4.4-.5.6-.4-1.7-.5-3.3 0-5z'/%3E%3C/svg%3E") ' ';
}

ul.law-list>li:first-child::marker {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3C/svg%3E") ' ';
}

ul.law-list>li:last-child::marker {
    content: none;
}

.col {
    display: inline-block;
    vertical-align: middle;
}

.tbhead {
    font-size: 1.2rem !important;
    font-weight: bold;
    color: #006699;
    padding: 0.5rem 0;
}

.title {
    width: 40%;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1.1rem;
}

.office {
    width: 25%;
}

.lawtype {
    width: 10%;
}

.status {
    width: 8%;
}

.publish {
    width: 10%;
    font-size: 0.8rem;
}

.count {
    font-size: 1.2rem;
    font-weight: bold;
    color: #006699;
    padding: 1rem 0 0 0;
    width: 60%;
}

.page-control {
    width: 36%;
    text-align: right;
    padding: 1rem 2rem 0 0;
}

.previous-page a,
.next-page a {
    color: #006699;
    text-decoration: none;
}

.previous-page a:hover,
.next-page a:hover {
    color: #006699;
    text-decoration: underline;
}

span.title>a {
    color: #006699;
    text-decoration: none;
}

span.title>a:hover {
    color: #006699;
    text-decoration: underline;
}

.rotate-border {
    z-index: 1;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.rotate-border::before {
    z-index: -2;
    position: absolute;
    content: '';
    width: 200%;
    height: 200%;
    background-color: #ff0000;
    left: 50%;
    top: 50%;
    transform-origin: left top;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    to {
        transform: rotate(1turn);
    }
}

.rotate-border::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #9a9a9a;
    z-index: -1;
    border-radius: inherit;
}