* {
    outline: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.shell {
    position: relative;
    width: 50vw;
    padding: 5px;
    background-color: #d2d2d273;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #a2a2a2;
}

.shell input {
    width: 80%;
    height: 8vmin;
    color: #fff;
    font-weight: lighter;
    border: 0;
    background-color: transparent;
    padding: 1vmin 2vmin;
}

.shell input::placeholder {
    color: #6f6f6f68;
    mix-blend-mode: difference;
}

.shell a {
    display: flex;
    text-decoration: none;
    font-size: 8vmin;
    position: absolute;
    right: 10px;
    top: 5px;
    color: #262626;
    /* width: 250px;
    height: 150px; */
}

.shell a .fa {
    /* margin: 10px 28px; */
    transition: .3s;
}

.shell a .fa-search {
    transform: translateX(-2vmin);
    opacity: 1;
}

.shell a .fa-hand-o-right {
    transform: translateX(-5vmin);
    opacity: 0;
}

.shell a:hover .fa-search {
    transform: translateX(9vmin);
    opacity: 0;
}

.shell a:hover .fa-hand-o-right {
    transform: translateX(6vmin);
    opacity: 1;
}

.shell a:hover::before {
    top: -115px;
    opacity: 1;
}