{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <div class="detail-container">
        <div class="detail-box">
            <div class="detail-info">
                <h2 class="name">{{ case.title }}</h2>
                {% if case.classification %}<p class="sub-info">案例分类：{{ case.classification }}</p>{% endif %}
                {% if case.source %}<p class="sub-info">来源：{{ case.source }}</p>{% endif %}
                {% if case.publish %}<p class="sub-info">发布日期：{{ case.publish }}</p>{% endif %}
            </div>
            <div class="detail-file">{% include "components/viewtext.html" with content=case.content %}</div>
        </div>
    </div>
{% endblock content %}
