{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <link rel="stylesheet"
          href="{% static 'plugins/github-markdown/github-markdown.css' %}">
    <!-- 列表内容部分 -->
    <div class="chat-container">
        <div class="chat-box">
            <div class="content">
                <div id="messages" class="messages">
                    <div id="default" class="default-message">
                        <img src="{% static 'img/bot.png' %}"
                             alt="Logo"
                             class="logo"
                             width="75"
                             height="75" />
                        <br />
                        <h2 class="default-title">您好，我是法律助手，请问有什么可以帮助您</h2>
                    </div>
                    {% for m in chat_history %}
                        <div class="{{ m.role }} history">
                            <div class="markdown-body message">{{ m.content }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="input-box">
                    <textarea id="message-input" placeholder="请输入您的问题"></textarea>
                    <input type="button" id="send-button" value="发送" />
                    <input type="button" id="clear-history" value="清空记录" />
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'plugins/marked.min.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock content %}
