{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/lawdetail.css' %}">
    <div class="detail-container">
        <div class="detail-box">
            <div class="detail-info">
                <h2 class="law-name">{{ law.name }}</h2>
                <p class="law-office">制定机关：{{ law.office }}</p>
                <p class="law-type">法律性质：{{ law.lawtype }}</p>
                <p class="law-status">时效性：{{ law.status }}</p>
                <p class="law-publish">公布日期：{{ law.publish }}</p>
            </div>
            <div class="detail-file">{% include "components/viewfile.html" %}</div>
        </div>
    </div>
{% endblock content %}
