{% load static %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'css/caselist.css' %}">
<div class="list-container">
    <div class="list-nav">
        <!-- 下拉菜单：分类 -->
        <span>
            <span class="select-label">分类：</span>
            <span class="select-container">
                <select class="form-control" id="classification-select">
                    {% for t in all_classifications %}
                        {% if t == classification %}
                            <option value="{{ t }}" selected>{{ t|default:"全部" }}</option>
                        {% else %}
                            <option value="{{ t }}">{{ t|default:"全部" }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </span>
        </span>
        <!-- 搜索框 -->
        <span>
            <span class="select-label">标题：</span>
            <span class="select-container">
                <input type="text"
                       class="form-control"
                       placeholder="请输入关键字"
                       id="search-input"
                       value="{{ search_query }}"
                       onkeydown="keyup_submit(event);">
            </span>
        </span>
        <span>
            <button class="search-btn rotate-border" type="button" id="search-button">搜索</button>
        </span>
    </div>
    <ul class="case-list">
        {% if cases %}
            <li>
                <span class="col title tbhead">标题</span>
                <span class="col classification tbhead">案例分类</span>
                <span class="col source tbhead">来源</span>
                <span class="col publish tbhead">发布时间</span>
            </li>
            {% for item in cases %}
                <li>
                    <span class="col title">
                        <a href="{% url 'case_detail' item.classification item.id %}">{{ item.title }}</a>
                    </span>
                    <span class="col classification">{{ item.classification }}</span>
                    <span class="col source">{{ item.source }}</span>
                    <span class="col publish">{{ item.publish }}</span>
                </li>
            {% endfor %}
            {# 页码控制部分 #}
            <li class="pagination">
                <span class="col count">共 {{ cases.paginator.count }} 条</span>
                <span class="col page-control">
                    {% if cases.has_previous %}
                        <span class="previous-page">
                            <a href="?classification={{ classification }}&q={{ search_query }}&page={{ cases.previous_page_number }}"><span class="label label-default">上一页</span></a>
                        </span>
                    {% endif %}
                    {% if cases.has_next %}
                        <span class="next-page">
                            <a href="?classification={{ classification }}&q={{ search_query }}&page={{ cases.next_page_number }}"><span class="label label-default">下一页</span></a>
                        </span>
                    {% endif %}
                </span>
            </li>
        {% else %}
            <li>
                <span class="col title tbhead">暂无结果</span>
            </li>
        {% endif %}
    </ul>
</div>
<script src="{% static 'js/caselist.js' %}"></script>
