{% load static %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'css/lawlist.css' %}">
<div class="list-container">
    <!-- 列表导航栏部分 -->
    <div class="list-nav">
        <!-- 下拉菜单：分类 -->
        <span>
            <span class="select-label">分类：</span>
            <span class="select-container">
                <select class="form-control" id="classification-select">
                    {% for t in all_classifications %}
                        {% if t == classification %}
                            <option value="{{ t }}" selected>{{ t }}</option>
                        {% else %}
                            <option value="{{ t }}">{{ t }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </span>
        </span>
        <!-- 下拉菜单：状态 -->
        <span>
            <span class="select-label">时效性：</span>
            <span class="select-container">
                <select class="form-control" id="status-select">
                    {% for t in all_status %}
                        {% if t == status %}
                            <option value="{{ t }}" selected>{{ t|default:"全部" }}</option>
                        {% else %}
                            <option value="{{ t }}">{{ t|default:"全部" }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </span>
        </span>
        <!-- 搜索框 -->
        <span>
            <span class="select-label">标题：</span>
            <span class="select-container">
                <input type="text"
                       class="form-control"
                       placeholder="请输入关键字"
                       id="search-input"
                       value="{{ search_query }}"
                       onkeydown="keyup_submit(event);">
            </span>
        </span>
        <span>
            <button class="search-btn rotate-border" type="button" id="search-button">搜索</button>
        </span>
    </div>
    <!-- 列表内容部分 -->
    <ul class="law-list">
        {% if laws %}
            <li>
                <span class="col title tbhead">标题</span>
                <span class="col office tbhead">制定机关</span>
                <span class="col lawtype tbhead">法律性质</span>
                <span class="col status tbhead">时效性</span>
                <span class="col publish tbhead">公布日期</span>
            </li>
            {% for item in laws %}
                <li>
                    <span class="col title">
                        <a href="{% url 'law_detail' classification item.id %}">{{ item.name }}</a>
                    </span>
                    <span class="col office">{{ item.office }}</span>
                    <span class="col lawtype">{{ item.lawtype|truncatechars:6 }}</span>
                    <span class="col status">{{ item.status }}</span>
                    <span class="col publish">{{ item.publish }}</span>
                </li>
            {% endfor %}
            {# 页码控制部分 #}
            <li class="pagination">
                <span class="col count">共 {{ laws.paginator.count }} 条</span>
                <span class="col page-control">
                    {% if laws.has_previous %}
                        <span class="previous-page">
                            <a href="?classification={{ classification }}&status={{ status }}&q={{ search_query }}&page={{ laws.previous_page_number }}"><span class="label label-default">上一页</span></a>
                        </span>
                    {% endif %}
                    {% if laws.has_next %}
                        <span class="next-page">
                            <a href="?classification={{ classification }}&status={{ status }}&q={{ search_query }}&page={{ laws.next_page_number }}"><span class="label label-default">下一页</span></a>
                        </span>
                    {% endif %}
                </span>
            </li>
        {% else %}
        <li>
            <span class="col title tbhead">暂无结果</span>
        </li>
        {% endif %}
    </ul>
</div>
<script src="{% static 'js/lawlist.js' %}"></script>
