{# iframe渲染文件 #}
{% if "doc" in law.filetype %}
    <iframe id="docview"
            src="https://view.officeapps.live.com/op/view.aspx?src=https://{{ domain }}{% url "law_file" law.id %}.{{ law.filetype }}"
            width="100%"
            height="800px">This is an embedded
        <a target='_blank' href='https://office.com'>Microsoft Office</a> document, powered by
        <a target='_blank' href='https://office.com/webapps'>Office Online</a>.</iframe>
{% elif 'pdf' in law.filetype %}
    <iframe id="pdfview"
            src="https://{{ domain }}{% url "law_file" law.id %}.{{ law.filetype }}"
            width="100%"
            height="800px"></iframe>
{% elif "html" in law.filetype %}
    <iframe id="htmlview"
            src="https://{{ domain }}{% url "law_file" law.id %}.{{ law.filetype }}"
            width="100%"
            height="800px"></iframe>
{% endif %}
